/* styled my navigation bar, this will be the same in index.html , portfolio.html , and contact.html */
.nav-bar {
    background-color: rgb(255, 255, 255);
    border-bottom: 3px solid #ffffff;
    float: right;
    line-height: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}
/* this is my header that will be the same across all pages */
h1 {
    color: #bc9acc;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 0px 20px;
}

/* unvisited links will be light purple*/
a:link {
    color: #bc9acc;
  }
/* once clicked , the visited links will turn pink */
  a:visited {
    color: rgb(255, 177, 251);
  }  
/* when hovering, the links will turn grey */
  a:hover {
    color: rgb(165, 165, 165);
    text-decoration: none;
  }  
/* when clicked, the links will turn light purple */
  a:active {
    color: #bc9acc;
    text-decoration: none;
  }



/* my about me for my index.html */
.aboutme {
    background-color: rgb(255, 255, 255);
    border: 4px solid #bc9acc;
    border-radius: 5px;
    border-top: solid 4px #bc9acc;
    box-sizing: content-box;
    clear: right;
    color: #FFF;
    display: block;
    font-weight: normal;
    height: 700px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    position: relative;
    text-align: left; 
}

/* image for index.html */
.image {
    float: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    position: relative;
    width: auto;
}

/* my paragraphs for index.html */
.paraone, .paratwo, .parathree {
    color: rgb(165, 165, 165);
    font-style: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding: 0px 20px 0px 20px;
    position: relative;
    text-align: left;
}

.parafour {
    color: rgb(165, 165, 165);
    font-style: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px 0px 20px;
    position: relative;
    text-align: center;
    width: auto;
}

 

/* this is the container for my portfolio.html */
.container {
    background-color: rgb(255, 255, 255);
    border: 4px solid #bc9acc;
    border-radius: 5px;
    border-top: solid 4px #bc9acc;
    box-sizing: content-box;
    clear: right;
    color: rgb(165, 165, 165);
    font-style: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    display: block;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    position: relative;
    text-align: left;
 }

